{% extends 'base.html' %}

{% block content %}
<div class="col-12 h-100">
    <h3>{{ object.title }}</h3>
    <p class="text-justify text-secondary font-italic">
        By: {{ object.author }} | {{ object.published_at| date:" M d, Y g:iA" }} <br>
    </p>
    <hr class="mt-0 mb-4">
    <div class="row mb-4">
        <div class="col-9">
            <figure class="figure">
                <img src="{{ object.url_to_image }}" class="figure-img img-fluid rounded"
                    alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption text-right"><a href="{{ object.url }}" class="text-decoration-none">
                        source: {{object.source_name}}</a></figcaption>
            </figure>
            <p class="text-justify">{{ object.content }} </p>
        </div>
        <div class="col w-50">
            {% if user.is_authenticated %}

            {% if favorite %}

            <form action="{% url 'favorite-delete' favorite.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>
                    Remove from Favorite
                </button>
            </form>
            {% else %}
            <form action="{% url 'favorite-create' %}" method="post">
                {% csrf_token %}
                <input name="user" type="hidden" value="{{request.user.id}}">
                <input name="article" type="hidden" value="{{object.id}}">

                <button type="submit" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart" viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                    Add to Favorite
                </button>
            </form>

            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}